#overlay {
    position: fixed;
    display: flex;
    width: 90%;
    height: 85%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5%;
    
    background-color: rgb(167, 167, 167);
    z-index: 2;
    cursor: pointer;
}

#summary{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    height: 85%;
    margin: auto;
    background-color: #000000;
    
    display: flex;
}

#summary #left{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 60%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #f40000;

    padding: 5%;
    color: white;
}

#summary #right{    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 60%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    
    background-color: #2b00ff;

    

    padding: 5%;
    color: white;

}

#summary #center{
    float: right ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 60%;


    margin-top: 10%;
    margin-left: 0%;
    margin-left: 0%;
    
    margin-bottom: 5%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;  /* horizontal */
    
    color: white;
    text-align: center;
}

.h2{
    padding: 25%;
    
    

}

#winloosescale{
    width: 100%;
    height: 100%;
    margin: 0%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("ClearField.png");

    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;
}

#predictball{
    width: 30%;
    height: 30%;
    margin: 0%;

    position: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(DM_Ball.png);

}