@font-face {
  font-family: "Libre Baskerville";
  src: url("../Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../Libre_Baskerville/LibreBaskerville-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  margin: 0 8rem;
  background-color: #e9e9e9;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-top: 5px solid #474747;
}

/* Header styles */
header {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Libre Baskerville", serif;
}
header img {
  width: 70px;
  height: auto;
}
header .logo h1 {
  margin: 0.25rem 0;
  font-size: 3.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  margin-left: 1rem;
}

#banner {
  width: 100%;
  height: 16 /6;
  background-image: url("/static/ClearField.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner-container {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Navigation bar styles */
.nav-links {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
nav {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
.nav-content {
  display: none;
  padding: 20px;
}
