body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}
header { 
    background-color: #000000; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    color: white; 
    padding: 10px 0; 
    text-align: center;
}
.banner-container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav-links {
    display: inline-block; 
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
nav {
    background-color: #f4f4f4; 
    padding: 10px; 
    text-align: center;
}
.nav-content {
    display: none; 
    padding: 20px; 
}