body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}
header { 
    background-color: #000000; 
    display: flex; 
    align-items: center; 
    color: white; 
    padding: 10px 0; 
    text-align: center;
}
nav-links {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}